.css-12oz5g7.egzxvld2 {
    padding-top: 0px;
}

.css-1v0mbdj.etr89bj1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 180px;
    max-width: 40%;
}

.btn.btn-outline-primary.btn-lg.btn-block{
    background-color: black;
    color: white;
    border-color: white;
}

 .btn.btn-outline-primary.btn-lg.btn-block:hover{
    color: black;
    background-color: white;
}

.css-10trblm.e16nr0p30 {
    font-weight: bold;
    text-align: center;
}

.css-10trblm.e1nzilvr0 {
    font-weight: bolder;
    text-align: center;
    text-shadow: 1.2px 1.2px white;
}

/*.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-ak.st-al.st-am.st-ba.st-an.st-ao.st-ap.st-aq.st-ar.st-as.st-at.st-au.st-av.st-aw.st-ax.st-ay.st-bb.st-b0.st-b1.st-b2.st-b3.st-b4.st-b5.st-b6.st-b7{
    

}*/

.st-b8.st-b9 {
    color: black;
    font-size: 10em;
    font-weight: bolder;
    text-align: center;
}

p {
    font-size: 19px;
} 



MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}
